@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo-letras.png" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/burger-icon.png" />
        <div>Burgers</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/delivery-man.png" />
            <div>Mis Pedidos</div>
        </NavLink>
    </AuthorizeView>

    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>
